/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
	margin: 0 auto;
}
body{
  	font-family: 'Montserrat';
  	font-style: normal;
  	font-size: 16px;
  	line-height: 1.2;
  	font-weight: normal;
  	color: black;
}
.content{
	width: 100%;
	display: -webkit-flex; 
	display: flex; 
	flex-direction: column;
}
.header{
	width: 100%;
	height: 900px;
	background-image: url(img/logo-3.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
}
.menu{
	width: 80%;
	height: 40px;
	display: inline-flex;
}
.menu div{
	width: 10%;
	height: 40px;
	display: inline-flex;
	justify-content: space-between;
}
.title{
	padding-top: 22%;
	display: flex;
	justify-content: center;
	align-self: center;
	align-items: center;
	font-size: 30px;
	color: white;
	text-align: center;
	line-height: 30px;
}
.title span{
	font-size: 32px;
	font-weight: bold;
}

/*Стили контента*/
.main-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}
/*Стили контента БЛОК 1*/
.bloc-1{
	width: 80%;
	padding: 8%;
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
}
.bloc-1-txt{
	width: 80%;
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 40px;
}
.bloc-1-txt span{
	font-size: 26px;
	font-weight: normal;
}

/*Стили контента БЛОК 2*/
.block-2{
	width: 100%;
	padding-bottom: 5%;
	background-color: #E5E5E5;	
}
.block-2-content{
	padding-top: 8%;
	margin-left: 10%;
	width: 80%;
	display: inline-flex;
	text-align: center;
}
.block-2-content div{
	justify-content: space-between;
	width: 50%;
}
.block-2-img{
	font-size: 28px;
	font-weight: bold;
	color: black;
	line-height: 50px;
}
.block-2-img img{
	width: 70%;
}
.bloc-2-txt{
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
	text-align: left;
}
.bloc-2-txt a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.bloc-2-txt a:hover{
	color: #D88658;
}

/*Стили контента БЛОК 3 О МАРАФОНЕ*/
.block-3{
	width: 100%;
	padding-bottom: 5%;
	/*background-color: #9F957E;*/	
}
.block-3-content{
	padding-top: 6%;
	margin-left: 10%;
	width: 80%;
	display: flex;
	text-align: center;
}
.block-3-content div{
	padding: 4%;
	border: 4px solid #E5E5E5;
	border-radius: 50px;
}
.bloc-3-txt h2{
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 40px;
}
.bloc-3-txt{
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
	text-align: left;
}
.bloc-3-txt span{
	font-size: 22px;
	text-decoration: underline;
}
.bloc-3-txt p{
	padding-top: 10px;
}

/*РЕЗУЛЬТАТЫ УЧАСТНИЦ*/
.block-3-content-2{
	margin-left: 10%;
	width: 80%;
	display: flex;
	text-align: center;
}
.block-3-content-2 div{
	padding: 6% 6% 3%;
	/*border: 4px solid yellow;*/
	border-radius: 50px;
}
.bloc-3-txt-2 h2{
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 40px;
	padding-bottom: 4%;
}
.bloc-3-txt-2 img{
	width: 60%;
	border-radius: 50px;
}


/*Стили контента БЛОК 4 ЦЕНЫ*/
.block-4{
	width: 100%;
	padding-bottom: 5%;
	background-color: #E5E5E5;	
}
.block-4-content{
	padding-top: 5%;
	margin-left: 10%;
	width: 80%;
	display: flex;
}
.bloc-4-txt h2{
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 40px;

}
.bloc-4-txt h3{
	font-size: 30px;
	font-weight: bold;
	color: #D88658;
	text-align: center;
	line-height: 40px;
	text-shadow: #D88658 3px 2px 5px;
}
.bloc-4-txt h4{
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	font-weight: normal;
}
.bloc-4-txt span{
	border: 2px solid black;
	border-radius: 100%;
	font-weight: bold;
	font-size: 22px;
}
.bloc-4-txt{
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
}
.bloc-4-txt p{
	padding-top: 10px;
}
.btn-1{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 160px;
    border-radius: 50px;
    padding: 8px 25px;
    margin-top: 1%;
    background-color: #D88658;
    transition: 1s;
    overflow: hidden;
}
.btn-1 a{
    color: black;
    text-decoration: none;
}
.btn-1 a:hover{
	color: white;
	transition: 1.5s;
	overflow: hidden;
}

@media screen and (max-width: 1200px) {
	.bloc-2-txt{
		font-size: 18px;
		line-height: 30px;
	}
	.btn-1{
    	margin-top: 2%;
	}
}
@media screen and (max-width: 940px) {
	.block-2-content{
		flex-direction: column;
	}
	.block-2-content div{
		width: 100%;
	}	
	.block-2-img img{
		width: 55%;
		border-radius: 50%;
	}
	.bloc-2-txt{
		padding-top: 5%;
		font-size: 20px;
		line-height: 35px;
		text-align: center;
	}
	.bloc-3-txt{
		font-size: 20px;
		line-height: 35px;
	}
	.bloc-3-txt span{
		font-size: 20px;
	}
	.bloc-4-txt{
		font-size: 20px;
		line-height: 35px;
	}
	.btn-1{
		font-size: 20px;
	}
}	
@media screen and (max-width: 800px) {
	.header{
		background-position: top;
		height: 800px;
	}
	.menu{
		opacity: 0.1;
	}
	.title{
		font-size: 24px;
		line-height: 20px;
		padding-top: 40%;
	}
	.title span{
		font-size: 26px;
	}
	.bloc-1{
		padding: 8%;
		display: flex;
	}
	.bloc-1-txt{
		font-size: 25px;
		line-height: 30px;
	}
	.bloc-1-txt span{
		font-size: 22px;
		font-weight: normal;
	}
	.block-2-img{
		font-size: 26px;
		line-height: 50px;
	}
	.block-2-img img{
		width: 60%;
		border-radius: 50%;
	}
	.bloc-3-txt h2{
		font-size: 25px;
		line-height: 30px;
	}
	.bloc-3-txt-2 h2{
		font-size: 25px;
		line-height: 30px;
	}
	.bloc-3-txt-2 img{
		width: 60%;
		border-radius: 40px;
	}
}

@media screen and (max-width: 640px) {
	.header{
		border: none;
		background-position: top;
		height: 550px;
	}
	.menu{
		opacity: 0;
	}
	.title{
		font-size: 16px;
		color: white;
		line-height: 20px;
		padding-top: 50%;
	}	
	.title span{
		font-size: 20px;
		color: white;
	}
	.bloc-1{
		padding-top: 10%;
		display: flex;
	}
	.bloc-1-txt{
		font-size: 18px;
		line-height: 25px;
	}
	.bloc-1-txt span{
		font-size: 16px;
		font-weight: normal;
	}
	.block-2-img{
		font-size: 18px;
		line-height: 40px;
	}
	.block-2-img img{
		width: 60%;
		border-radius: 50%;
	}
	.bloc-2-txt{
		font-size: 16px;
		line-height: 25px;
		text-align: center;
	}
	.bloc-3-txt{
		font-size: 16px;
		line-height: 25px;
	}
	.bloc-3-txt span{
		font-size: 16px;
		line-height: 25px;
	}
	.bloc-3-txt h2{
		font-size: 18px;
		line-height: 25px;
	}
	.block-3-content div{
		border-radius: 40px;
	}
	.bloc-3-txt-2 h2{
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 6%;
		padding-top: 2%;
	}
	.bloc-3-txt-2 img{
		width: 70%;
		border-radius: 30px;
	}
	.bloc-4-txt h2{
		font-size: 18px;
		line-height: 25px;
	}
	.bloc-4-txt h3{
		font-size: 20px;
		line-height: 25px;
	}
	.bloc-4-txt h4{
		font-size: 10px;
		line-height: 25px;
	}
	.bloc-4-txt{
		font-size: 16px;
		line-height: 25px;
	}
	.btn-1{
		font-size: 16px;
		margin-top: 4%;
	}
}
@media screen and (max-width: 380px) {
	.header{
		border: none;
		background-position: top;
		height: 450px;
	}
	.menu{
		opacity: 0;
	}
	.title{
		font-size: 14px;
		color: white;
		line-height: 20px;
		padding-top: 50%;
	}	
	.title span{
		font-size: 18px;
		color: white;
	}
	.bloc-1{
		padding: 12%;
		display: flex;
	}
	.bloc-1-txt{
		font-size: 15px;
		line-height: 20px;
	}
	.bloc-1-txt span{
		font-size: 12px;
		font-weight: normal;
	}
	.block-2-img{
		font-size: 15px;
		line-height: 30px;
	}
	.bloc-2-txt{
		font-size: 12px;
		line-height: 25px;
		text-align: center;
	}
	.block-3-content div{
		border-radius: 30px;
	}
	.bloc-3-txt{
		font-size: 12px;
		line-height: 25px;
	}
	.bloc-3-txt span{
		font-size: 12px;
		line-height: 25px;
		text-decoration: none;
	}
	.bloc-3-txt h2{
		font-size: 15px;
		line-height: 20px;
	}
	.bloc-3-txt-2 h2{
		font-size: 15px;
		line-height: 20px;
		padding-bottom: 8%;
		padding-top: 4%;
	}
	.bloc-3-txt-2 img{
		width: 80%;
		border-radius: 20px;
	}
	.bloc-4-txt h2{
		padding-top: 4%;
		font-size: 15px;
		line-height: 20px;
	}
	.bloc-4-txt h3{
		font-size: 17px;
		line-height: 20px;
	}
	.bloc-4-txt h4{
		font-size: 6px;
		text-align: center;
		line-height: 20px;
	}
	.bloc-4-txt{
		font-size: 12px;
	}
	.btn-1{
	    font-size: 14px;
	    width: 150px;
	    margin-top: 6%;
	    transition: 1s;
	    overflow: hidden;
	}
}