/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
	margin: 0 auto;
}
body{
  	font-family: 'Montserrat';
  	font-style: normal;
  	font-size: 18px;
  	line-height: 1.2;
  	font-weight: normal;
  	color: black;
}
.content{
	width: 100%;
	display: flex; 
	flex-direction: column;
}
.header{
	width: 100%;
	height: 1050px;
	background-image: url(img/logo-3.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.title{
	padding-top: 22%;
	display: flex;
	justify-content: center;
	font-size: 32px;
	color: white;
	text-align: center;
	line-height: 32px;
}
.title span{
	font-size: 34px;
	font-weight: bold;
}
.footer{
	width: 100%;
	background-color: black;
	color: white;
}
.footer p{
	width: 80%;
	padding: 2% 0 2%;
}


/*Стили контента*/
.main-content{
	width: 100%;
	display: flex;
	flex-direction: column;
}
/*Стили контента БЛОК 1*/
.bloc-1{
	width: 60%;
	padding: 8%;
}
.bloc-1-txt{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
}
.btn-1{
    font-size: 22px;
    width: 220px;
    border-radius: 50px;
    border: 4px solid black;
    background-color: white;
    margin-top: 3%;
    padding: 10px 25px;
}
.btn-1:hover{
    border: 4px solid #D88658;
	background-color: #D88658;
}	

/*---------------------------- Стили контента БЛОК 2 ----------------------------*/
.block-2{
	width: 100%;
	padding: 8% 0;
	display: flex;
	background-color: #CBC1B9;	
}
.block-2-content{
	width: 70%;
	display: inline-flex;
	align-items: justify-content;
	text-align: center;
}
.block-2-content div{
	justify-content: space-between;
	width: 50%;
}
.block-2-img img{
	width: 80%;
}
.block-2-txt h3{
	font-size: 28px;
	font-weight: bold;
	color: black;
	line-height: 50px;
}
.bloc-2-txt{
	font-size: 22px;
	line-height: 40px;
	text-align: left;
}

/*---------------------------- Стили контента БЛОК 3 О МАРАФОНЕ ----------------------------*/
.bloc-3{
	width: 100%;
}
.block-3-content{
	width: 70%;
	padding-top: 8%;
	display: flex;
	flex-direction: column;
	align-items: justify-content;
	text-align: center;
}
.bloc-3-txt h2{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	margin-bottom: 1%;
}
.bloc-3-txt{
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
	text-align: left;
}
.bloc-3-txt p{
	padding-top: 20px;
}
/*------------ Стили контента БЛОК 3 ОТЗЫВЫ (Слайдер) ------------*/
.bloc-3-slider {
	width: 70%;
	padding: 2% 8% 8%;
	display: flex;
	flex-direction: column;
	align-items: justify-content;
}
.bloc-3-slider h2{
	position: relative;
	padding-top: 8%;
	font-size: 28px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 15px;
}
/* Cлайдер */
.slider{
    max-width: 80%;
    position: relative;
    height: 700px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 700px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    margin: 0 -70%;
    padding: 14px;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
}
.slider .next{
    right: 50%;
    border-radius: 0 50px 50px 0;
}
.prev{
    border-radius: 50px 0 0 50px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(216, 134, 88, 0.8);
    opacity: 0.6;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*---------------------------- Стили контента БЛОК 4 СТОИМОСТЬ МАРАФОНА ----------------------------*/
.block-4{
	width: 100%;
	padding: 8% 0;
	display: flex;
	background-color: #CBC1B9;	
}
.block-4-content{
	width: 70%;
	text-align: center;
}
.bloc-4-txt h2{
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 1%;
}
.bloc-4-txt h3{
	font-size: 38px;
	font-weight: bold;
	color: #D88658;
	line-height: 40px;
	margin-bottom: 1%;
}
.bloc-4-txt h4{
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
}
.btn-2{
    font-size: 22px;
    width: 220px;
    border-radius: 50px;
    border: 4px solid #D88658;
    background-color: #D88658;
    margin-top: 2%;
    padding: 10px 25px;

}
.btn-2:hover{
    border: 4px solid #D88658;
	background-color: #D88658;
	box-shadow: #D88658 0px 0px 12px;
}

/*---------------------------- Стили контента БЛОК 5 РЕЗУЛЬТАТЫ УЧАСТНИЦ ----------------------------*/
.block-5{
	width: 100%;
}
.block-5-content{
	width: 70%;
	padding: 8%;
	display: flex;
	flex-direction: column;
	align-items: justify-content;
	text-align: center;
}
/*------------ Стили контента БЛОК 5 РЕЗУЛЬТАТЫ УЧАСТНИЦ (Слайдер) ------------*/
.block-5-slider{
	width: 70%;
	padding: 0% 8% 0%;
	display: flex;
	flex-direction: column;
	align-items: justify-content;
}
.block-5-slider h2{
	position: relative;
	font-size: 28px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 15px;
	margin-bottom: 3%;
}
/* Cлайдер */
.slider-2{
    max-width: 80%;
    position: relative;
    height: 600px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider-2 .item-2 img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider-2 .prev-2, .slider-2 .next-2 {
    cursor: pointer;
    position: absolute;
    top: 40%;
    margin: 0 -70%;
    padding: 14px;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
}
.slider-2 .next-2{
    right: 50%;
    border-radius: 0 50px 50px 0;
}
.prev-2{
    border-radius: 50px 0 0 50px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider-2 .prev-2:hover,
.slider-2 .next-2:hover {
    background-color: rgba(216, 134, 88, 0.8);
    opacity: 0.6;
}
/* Кружочки */
.slider-dots-2 {
    text-align: center;
    padding-top: 2%;
}
.slider-dots-2_item-2{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active-2,
.slider-dots-2_item-2:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider-2 .item-2 {
    -webkit-animation-name: fade-new;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade-new {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade-new {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}




/*Стили контента БЛОК 6 РЕГИСТРАЦИЯ*/
.block-6{
	width: 100%;
	padding-bottom: 15%;
	height: 450px;
	background-color: #CBC1B9;	
}
.block-6-content{
	padding-top: 1%;
	margin-left: 10%;
	width: 80%;
	display: flex;

}
.bloc-6-txt h2{
	padding-bottom: 4%;
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
	line-height: 40px;
}
.forma {
	margin: auto;
	margin-top: 4%;
	padding: 6% 10%;
	border-radius: 50px; 
	width: 80%;
	font-weight: normal;
}
.forma p{
	font-size: 22px;
	line-height: 40px;
}
.forma input{
	width: 80%;
	font-size: 18px;
	border: 3px solid #D88658;
	box-shadow: #D88658 3px 2px 5px;
}
.forma span{
	line-height: 20px;
	font-size: 16px;
}
.btn-3{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 260px;
    border-radius: 50px;
    padding: 8px 25px;
    margin-top: 1%;
    background-color: #D88658;
    transition: 1s;
    overflow: hidden;
}
.btn-3 a{
    color: black;
    text-decoration: none;
}
.btn-3 a:hover{
	color: white;
	transition: 1.5s;
	overflow: hidden;
}



/*---------------------------- Стили контента БЛОК 7 КОНТАКТЫ ----------------------------*/
.block-7{
	width: 100%;
	padding: 8% 0;
	background-color: #CBC1B9;	
}
.block-7-content{
	width: 70%;
}
.bloc-7-txt h2{
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 1%;
	text-align: center;
}
.bloc-7-txt{
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
}
.bloc-7-txt p{
	padding-top: 10px;
}
.bloc-7-txt span{
	color: black;
}
.bloc-7-txt ul li{
	color: #D88658;
}
.bloc-7-txt a{
	color: #D88658;
	text-decoration: none;
}



@media screen and (max-width: 1200px) {
	.bloc-2-txt, .bloc-3-txt{
		font-size: 20px;
	}
	.slider{
	    height: 600px;
	}
	.slider .item img {
	    height: 600px;
	}
	.slider-2{
	    height: 400px;
	}
	.slider-2 .item-2 img {
	    height: 400px;
	}
}
@media screen and (max-width: 940px) {
	.block-2-content{
		flex-direction: column;
	}
	.block-2-content div{
		width: 100%;
	}	
	.block-2-img img{
		width: 55%;
		border-radius: 50%;
	}
	.bloc-2-txt{
		padding-top: 5%;
		font-size: 20px;
		line-height: 35px;
		text-align: center;
	}
	.bloc-3-txt, .bloc-4-txt, .bloc-7-txt{
		font-size: 20px;
		line-height: 35px;
	}
	.slider{
	    height: 500px;
	}
	.slider .item img {
	    height: 500px;
	}
	.slider-2{
	    height: 350px;
	}
	.slider-2 .item-2 img {
	    height: 350px;
	}
	.footer p{
		font-size: 16px;
	}

	/*Стили для формы*/
	.btn-3{
		font-size: 20px;
		margin-top: 4%;
	}
	.block-6-content{
		padding-top: 5%;
		margin-left: 10%;
		width: 80%;
		display: flex;
	}
	.bloc-6-txt h2{
		padding-top: 4%;
		font-size: 25px;
		line-height: 30px;
	}
	.forma {
		margin-top: 10%;
		padding: 4% 6% 8%;
		width: 90%;
	}
	.forma p{
		font-size: 20px;
		line-height: 35px;
	}
	.forma input{
		width: 80%;
		font-size: 14px;
	}
	.forma span{
		font-size: 16px;
	}
	/*Стили для формы*/
}	
@media screen and (max-width: 800px) {
	.header{
		background-position: top;
		height: 800px;
	}
	.title{
		font-size: 24px;
		line-height: 20px;
		padding-top: 60%;
	}
	.title span{
		font-size: 26px;
	}
	.bloc-1-txt{
		font-size: 25px;
		line-height: 30px;
	}
	.block-2-txt h3{
		font-size: 26px;
		line-height: 50px;
	}
	.block-2-img img{
		width: 60%;
		border-radius: 50%;
	}
	.bloc-3-txt h2, .bloc-3-slider h2, .bloc-4-txt h2, .block-5-slider h2, .bloc-7-txt h2{
		font-size: 25px;
		line-height: 30px;
	}
	.slider{
	    height: 550px;
	}
	.slider .item img {
	    height: 550px;
	}
	.slider-2{
	    height: 300px;
	}
	.slider-2 .item-2 img {
	    height: 300px;
	}
}

@media screen and (max-width: 640px) {
	.header{
		height: 550px;
	}
	.title{
		font-size: 16px;
		line-height: 16px;
		padding-top: 62%;
	}	
	.title span{
		font-size: 20px;
	}
	.bloc-1{
		padding-top: 10%;
	}
	.bloc-1-txt, .bloc-3-txt, .bloc-4-txt, .bloc-7-txt{
		font-size: 16px;
		line-height: 25px;
	}
	.block-2-txt h3{
		font-size: 18px;
		line-height: 40px;
	}
	.block-2-img img{
		width: 60%;
		border-radius: 50%;
	}
	.bloc-2-txt{
		font-size: 16px;
		line-height: 25px;
		text-align: center;
	}
	.bloc-3-txt span{
		font-size: 16px;
		line-height: 25px;
	}
	.bloc-3-txt h2, .bloc-3-slider h2, .bloc-4-txt h2, .block-5-slider h2, .bloc-7-txt h2{
		font-size: 18px;
		line-height: 25px;
	}
	.block-3-content div{
		border-radius: 40px;
	}
	.bloc-4-txt h3{
		font-size: 28px;
		line-height: 25px;
	}
	.bloc-4-txt h4{
		font-size: 14px;
		line-height: 25px;
	}
	.btn-1, .btn-2{
		font-size: 16px;
		margin-top: 4%;
	}
	.block-5-content{
		width: 100%;
		padding: 0%;
	}
	.block-5-slider{
		width: 90%;
		padding: 8% 1%;
	}
	.bloc-3-slider {
		width: 90%;
		padding: 2% 1% 8%;
	}
	.slider{
	    height: 500px;
	}
	.slider .item img {
	    height: 500px;
	}
	.slider-dots_item{
	    height: 6px;
	    width: 6px;
	    transition: background-color 0.8s ease;
	}
	/* Кнопки вперед и назад */
	.slider .prev, .slider .next {
	    cursor: pointer;
	    position: absolute;
	    top: 40%;
	    margin: 0 -80%;
	    padding: 8px;
	    font-weight: bold;
	    font-size: 16px;
	    transition: 0.6s ease;
	}
	.slider .next{
	    right: 50%;
	    border-radius: 0 30px 30px 0;
	}
	.prev{
	    border-radius: 30px 0 0 30px;
	}
	/*------------ Стили контента БЛОК 5 РЕЗУЛЬТАТЫ УЧАСТНИЦ (Слайдер) ------------*/
	.slider-2{
	    height: 130px;
	}
	/* Картинка мастабируется по отношению к родительскому элементу */
	.slider-2 .item-2 img {
	    height: 130px;
	}
	.slider-dots-2_item-2{
	    height: 6px;
	    width: 6px;
	    transition: background-color 0.8s ease;
	}
	/* Кнопки вперед и назад */
	.slider-2 .prev-2, .slider-2 .next-2 {
	    cursor: pointer;
	    position: absolute;
	    top: 40%;
	    margin: 0 -70%;
	    padding: 8px;
	    font-weight: bold;
	    font-size: 16px;
	    transition: 0.6s ease;
	}
	.slider-2 .next-2{
	    right: 50%;
	    border-radius: 0 30px 30px 0;
	}
	.prev-2{
	    border-radius: 30px 0 0 30px;
	}
	/*Стили для формы*/
	.block-6{
		padding-bottom: 12%;
	}
	.block-6-content{
		padding-top: 5%;
		margin-left: 10%;
		width: 80%;
		display: flex;
	}
	.bloc-6-txt h2{
		padding-top: 4%;
		font-size: 18px;
		line-height: 25px;
	}
	.forma {
		margin-top: 10%;
		padding: 4% 6% 8%;
		width: 90%;
	}
	.forma p{
		font-size: 16px;
		line-height: 25px;
	}
	.forma input{
		width: 90%;
		font-size: 12px;
	}
	.forma span{
		font-size: 12px;
		line-height: 15px;
	}
	.btn-3{
		font-size: 16px;
		margin-top: 4%;
	}
	/*Стили для формы*/
}
@media screen and (max-width: 420px) {
	.header{
		border: none;
		background-position: top;
		background-image: url(img/logo-3-sm-new.png);
		height: 680px;
		/*width: 100%;*/
	}
	.footer p{
		font-size: 12px;
		padding: 4% 0;
	}
	.title{
		font-size: 15px;
		color: white;
		line-height: 15px;
		padding-top: 79%;
	}	
	.title span{
		font-size: 19px;
		color: white;
	}
	.bloc-1, .block-4, .block-5, .block-7{
		padding: 14% 0;
	}
	.bloc-1-txt, .block-2-txt h3{
		font-size: 15px;
		line-height: 20px;
	}
	.block-2{
		width: 100%;
		padding: 12% 0 12%;
	}
	.bloc-2-txt, .bloc-3-txt{
		font-size: 12px;
		line-height: 25px;
	}
	.block-3{
		padding: 4% 0 2%;
	}
	.bloc-3-txt span{
		font-size: 12px;
		line-height: 25px;
		text-decoration: none;
	}
	.bloc-3-txt h2, .bloc-3-slider h2, .bloc-4-txt h2, .block-5-slider h2, .bloc-7-txt h2{
		font-size: 18px;
		line-height: 20px;
		padding: 5% 0 1%;
	}
	.slider{
	    height: 400px;
	}
	.slider .item img {
	    height: 400px;
	}
	.bloc-4-txt h3{
		font-size: 28px;
		line-height: 30px;
	}
	.bloc-4-txt h4{
		font-size: 9px;
		text-align: center;
		line-height: 20px;
	}
	.bloc-4-txt{
		font-size: 12px;
	}
	.bloc-7-txt{
		font-size: 12px;
		line-height: 20px;
	}
	.block-5-slider{
		padding: 1% 1% 2%;
	}
	.btn-1, .btn-2{
		font-size: 14px;
		margin-top: 2%;
	}
	/*.bloc-3-slider {
		width: 90%;
	}*/
	/*Стили для формы*/
	.block-6{
		padding-bottom: 1%;
	}
	.block-6-content{
		padding-top: 5%;
		margin-left: 10%;
		width: 80%;
		display: flex;
	}
	.bloc-6-txt h2{
		padding-top: 6%;
		font-size: 18px;
		line-height: 20px;
	}
	.forma {
		margin-top: 10%;
		padding: 6% 4% 5%;
		width: 90%;
	}
	.forma p{
		font-size: 12px;
		line-height: 20px;
	}
	.forma input{
		width: 90%;
		font-size: 10px;
	}
	.forma span{
		font-size: 10px;
		line-height: 15px;
	}
	.btn-3{
		font-size: 14px;
	    width: 150px;
	    margin-top: 6%;
	    transition: 1s;
	    overflow: hidden;
	}
	@media screen and (max-width: 380px) {
	.slider{
    	height: 350px;
	}
	.slider .item img {
	    height: 350px;
	}
	.slider-2{
	    height: 120px;
	}
	.slider-2 .item-2 img {
	    height: 120px;
	}
}